body {
    font-size: 16px;
    font-family: monospace;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: #7366ff;
}

.heading {
    color: darkorange;
}

table {
    border-collapse: collapse;
}

table th,
table td {
    border: solid 1px;
    padding: 8px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray;
}

button:hover {
    cursor: pointer;
    background: transparent;
}

input {
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

dt {
    flex-basis: 30%;
}

dt::after {
    content: ': ';
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form {
    max-width: 420px;
}

.btn-wrapper {
    gap: 10px;
}

.icon {
    width: 16px;
    height: 16px;
}